<!DOCTYPE html>
<!--[if IE 8]> <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>Website templates</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->

    <link rel="stylesheet" href="_inc/styles/screen.css">

    <!--[if lt IE 9]>
    <script src="_inc/js/vendor/html5shiv.js"></script>
    <![endif]-->
</head>
<body>
<!-- Warning for old browsers -->
<p class="browsehappy" style="display:none">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<!-- END Warning for old browsers -->

<!-- Regular site header -->
<header class="siteheader">
    
</header>

<div class="wrapper">

    <aside class="sidebar">
        
    </aside>

<!-- END HEADER.PHP -->