// Typography
$base-font-color: rgb(77,77,77);
$base-font-size: 12px;

$font-family-body: sans-serif;
$font-family-headings: serif;

// Colours

// Grid
$grid-margin: 10px;

// Breakpoints
$bp-desktop: 1023px;
$bp-tablet: 899px;
$bp-mobile: 719px;